.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.studentTabTitle{
  display: inline-block;
  position: relative;
  top: -1vw
}
#studentTabs{
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: white;
}
.studentTab{
  position: relative;
  top: 1vh;
}
#studentProfile{
  display: flex;
}
#profileTabs{
  flex: 3;
  margin-left: 10vw;
  border-right: 1px solid grey;
}
.studentHomeContent{
  display: flex;
  flex-direction: column;
  flex: 7;
}
#studentTabList{
  list-style: none;
  width: 95%;
}
.tab{
  font-family: "system-ui";
  border-bottom: 2px solid lightgray;
  cursor: pointer;
  margin: 0;
  padding:6px 0
}
.tab:hover{
  background-color:rgba(211, 211, 211, 0.836);
}
.activeTab{
  border-bottom: 3px solid green;
}
#addStudentPicture{
  position: relative;
  left: 1.5vw;
  margin-bottom: 3vh;
}
.home-btn {
border: none;
background-color: inherit;
padding: 14px 28px;
font-size: 16px;
cursor: pointer;
display: inline-block;
outline: none;
}


.home-btn:hover {color: blue}

.profileField{
border-bottom: 1px solid grey;
padding: 3vw;
}
.jobPrefField{
  border-bottom: 1px solid grey;
  padding: 10px;
}
  
#navbar{
  display: flex;
width: 100%;
border-top: 1px solid gray;
border-bottom: 1px solid gray;
background-color: white;
height: 100px;
}

.ReactModal__Content {
  opacity: 0;
  animation: createBox 0.5s;
}

.ReactModal__Content--after-open {
  opacity: 1;
  /* transform: translateX(0px); */
}

/* .ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(-100px);
} */
@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.modal_closeIcon{
  float: right;
  cursor: pointer;
}

.modalLabel{
  display: block;
  margin-bottom: 20px;
}

.modalInput{
  width:95%;
  height:40px;
  margin-bottom: 20px;
}

.save{
  border: 1px solid transparent;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    line-height: 1.6;
    margin: auto;
    font-family: Lato;
    min-width: 88px;
    color: rgb(255, 255, 255);
    background-color: rgb(24, 97, 191);
    padding: 7px 16px;
}

.edit{
  margin-left:5px;
  cursor: pointer;
}

#jobSearchResults{
  display: flex;
  max-width: 1280px;
  margin:auto;
  background-color: white;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}