.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.studentTabTitle{
  display: inline-block;
  position: relative;
  top: -1vw
}
#studentTabs{
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: white;
}
.studentTab{
  position: relative;
  top: 1vh;
}
#studentProfile{
  display: flex;
}
#profileTabs{
  flex: 3;
  margin-left: 10vw;
  border-right: 1px solid grey;
}
.studentHomeContent{
  display: flex;
  flex-direction: column;
  flex: 7;
}
#studentTabList{
  list-style: none;
  width: 95%;
}
.tab{
  font-family: "system-ui";
  border-bottom: 2px solid lightgray;
  cursor: pointer;
  margin: 0;
  padding:6px 0
}
.tab:hover{
  background-color:rgba(211, 211, 211, 0.836);
}
.activeTab{
  border-bottom: 3px solid green;
}
#addStudentPicture{
  position: relative;
  left: 1.5vw;
  margin-bottom: 3vh;
}
.home-btn {
border: none;
background-color: inherit;
padding: 14px 28px;
font-size: 16px;
cursor: pointer;
display: inline-block;
outline: none;
}
.withdraw-btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  display: inline-block;
  outline: none;
  color:green;
  font-weight: bold;
  }

.home-btn:hover {color: blue}

.profileField{
border-bottom: 1px solid grey;
padding: 3vw;
}
.jobPrefField{
  border-bottom: 1px solid grey;
  padding: 10px;
}
  
#navbar{
  display: flex;
width: 100%;
border-top: 1px solid gray;
border-bottom: 1px solid gray;
background-color: white;
height: 100px;
}

.ReactModal__Content {
  opacity: 0;
  animation: createBox 0.5s;
}

.ReactModal__Content--after-open {
  opacity: 1;
  /* transform: translateX(0px); */
}

/* .ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(-100px);
} */
@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.modal_closeIcon{
  float: right;
  cursor: pointer;
}

.modalLabel{
  display: block;
  margin-bottom: 20px;
}

.modalInput{
  width:95%;
  height:40px;
  margin-bottom: 20px;
}
.salaryModalLabel{
  display: block;
  margin-bottom: 10px;
}

.salaryModalInput{
  width:95%;
  height:39px;
  margin-bottom: 15px;
}
.save{
  border: 1px solid transparent;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    line-height: 1.6;
    margin: auto;
    font-family: Lato;
    min-width: 88px;
    color: rgb(255, 255, 255);
    background-color: rgb(24, 97, 191);
    padding: 7px 16px;
}

.edit{
  margin-left:5px;
  cursor: pointer;
}

.fa-star {
  color: gray;
}
.checked {
color: green;
}
.fa-star-half-o {
  color: green;
}

.flex-wrapper {
display: flex;
flex-flow: row nowrap;
}

.single-chart {
width: 33%;
justify-content: space-around ;
}

.circular-chart {
display: block;
margin: 10px auto;
max-width: 50%;
max-height: 250px;
}

.circle-bg {
fill: none;
stroke: #eee;
stroke-width: 3.8;
}

.circle {
fill: none;
stroke-width: 2.8;
stroke-linecap: round;
animation: progress 1s ease-out forwards;
}

@keyframes progress {
0% {
stroke-dasharray: 0 100;
}
}

.circular-chart.orange .circle {
stroke: #ff9f00;
}

.circular-chart.green .circle {
stroke: green;
}

.circular-chart.blue .circle {
stroke: #3c9ee5;
}

.percentage {
fill: #666;
font-family: sans-serif;
font-size: 0.5em;
text-anchor: middle;
}

#jobSearchResults { 
  display: flex;
  max-width: 1280px;
  margin:auto;
  background-color: white;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

table {
  width: 95%;
margin: auto;
font-family: arial, sans-serif;
border-collapse: collapse;
}

th{
  font-weight: bold;
}
td, th {
font-size: 16px;
font-family: 'arial';
border: 1px solid #dddddd;
text-align: center;
padding: 8px;
}

tr:nth-child(odd) {
background-color:white;
}
tr:nth-child(even) {
background-color: powderblue;
}

#companyPhotoContainer{
  width: 65%;
  margin: auto;
  background-color: white;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

#companyPhotoContainer img{
    width: 30%;
    height: 210px;
    margin-bottom: 1.25%;
    margin-right: 3%;
}

.student-img{
  width: 30%;
  height: 210px;
  margin-bottom: 1.25%;
  margin-right: 3%;
}

.upload{
  background-color: green;
}

#companySalariesContainer{
  width: 65%;
  margin: auto;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 100px; /* Added */
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.left-half {
  background-color: white;
  position: relative;
  left: 0px;
  width: 30%;
}

.right-half {
  background-color: white;
  position: relative;
  right: 0px;
  width: 70%;
}

.userStat{
  margin-right: 25px;
  font-weight: bold;
}

.reviewCard{
  text-align: left;
    background-color: white;
    width: 55%;
    padding: 20px
}